.category {
  background-color: var(--cor-category); 
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.category h2 {
  color: var(--main-text-color); 
  padding-left: 10px;
}

.category-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}