.header {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

nav {
  flex: 1;
  text-align: end;
}

nav a {
  color: var(--main-text-color);
  text-decoration: none;
  margin: 0 1rem;
  transition: border-bottom 0.3s ease;
}

nav a.active {
  border-bottom: 2px solid var(--primary-color); /* Cor de destaque */
}

.profile {
  display: flex;
  align-items: center;

  .icon {
    margin: 0px 15px;
    cursor: pointer;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }

  .auth {
    position: relative;

    .options {
      display: none;
      background-color: var(--secondary-color); /* Fundo do dropdown */
      border-radius: 5px;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 40px; /* Abaixo da imagem */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    span {
      padding: 10px;
      color: var(--main-text-color);
    }

    &:hover {
      .options {
        display: flex;
        flex-direction: column;
      }
    }
  }
}