:root {
  --main-color: #0d1117; /* Cor principal do fundo */
  --main-text-color: #f0f6fc; /* Texto claro */
  --primary-color: #2271D1; /* Cor de destaque (links e bordas ativas) */
  --primary-color-dark: #1e61b3;
  --secondary-color: #161b22; /* Fundo do header */
  --secondary-color-dark: #161b22;
  --cor-category: #1c2128; /* Fundo para as categorias */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--main-color); /* Fundo principal */
  color: var(--main-text-color); /* Cor padrão do texto */
}