:root {
  --main-color: #333;
  --main-text-color: #2271D1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #000d1a; /* Fundo azul escuro */
  color: white;
}